# BlueDwarf tunnel appveyor.yml script

version: '{branch}-{build}'

branches:
  only:
    - master

before_build:
  nuget restore

nuget:
  account_feed: true
  project_feed: true
  disable_publish_on_pr: true

configuration: Release
platform: Any CPU

build:
  parallel: true   
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal

environment:
  pfxKey:
    secure: +H5MaK46FfHA/rjqbg1hSA==

deploy:
  provider: NuGet
  api_key:
    secure: rEYnR9JThbc6x8DdCo1K8+fgsGKzjNKzTZsldXFLYMm/tFPC7JWWvuKpVTrDBd+g
  skip_symbols: false

after_test:
  - echo the key is %pfxKey (don't worry it's a fake)
  - ps: Import-PfxCertificate -FilePath .\Tools\2d2fb0f6778ab96c5b484171e22b4f08.pfx cert:\localMachine\my -Password %pfxKey
  - msbuild /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" /t:Publish /property:ApplicationVersion="$env:APPVEYOR_BUILD_VERSION" /property:PublishUrl=.\Publish

artifacts:
  - path: '.\Publish\**\*.*'
